################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library/ShaderCache
/Library/StateCache
/obj/Debug
/Logs
/Temp
/Library
/.vs/DuelingFates/v16
/.vs/DuelingFates/v15/Server/sqlite3
/.vs/config
/.vs/DuelingFates/v15
